DEBUG=False
SECRET_KEY=django-insecure-default-key-change-me
ALLOWED_HOSTS=127.0.0.1,localhost,smart-mood-music.onrender.com,mood-detect-music-1.onrender.com
DATABASE_URL=sqlite:///db.sqlite3
YOUTUBE_API_KEY=AIzaSyDQEtSEWtaD8_5two2gBPuNbUCrpWwmrBg

# Superuser auto-creation for Render
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=admin_password123
